.preloader
  .spinner
    .bounce1
    .bounce2
    .bounce3
.socialize
  %a{:href => "http://facebook.com/peep", :target => "_blank"}
    .peep-soc-facebook.peep_font_icon
  %a{:href => "https://twitter.com/_peep_app", :target => "_blank"}
    .peep-soc-twitter.peep_font_icon
  / %a{:href => "http://google.com"}
  /   .peep-soc-google.peep_font_icon
  %a{:href => "http://instagram.com/peep_app", :target => "_blank"}
    .icon-instagram
.navbar-wrapper.cbp-af-header
  .container
    .navbar.cbp-af-inner{:role => "navigation"}
      .container
        .navbar-header
          %button.navbar-toggle{"data-target" => ".navbar-collapse", "data-toggle" => "collapse", :type => "button"}
            %span.sr-only Toggle navigation
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
          %h1
            %a.navbar-brand.scroll{:href => "#intro"}
        .navbar-collapse.collapse
          %ul.nav.navbar-nav.pull-right
            %li
              %a{:href => "#intro"} Home
            %li
              %a{:href => "#about"} About
            %li
              %a{:href => "#featured1"} Jobs
            %li.hidden-sm
              %a{:href => "#testimonials"} Contact Us
            / %li
            /   %a{:href => "#pricing"} Pricing
            %li
              %a.hidden-sm.login{:href => "#"} Login
            %li
              %a.signup{:href => "#"} Sign up
#intro
  .item.background-cover
    %video#vid{:id => "vidtag", :style => "position: absolute; right:70%; margin-right: -70%;min-height: 100%; min-width:100%", :autoplay => "", :preload => "auto", :loop => "", :src => "https://s3.amazonaws.com/justinlynch/peep3.webm", :src => "https://s3.amazonaws.com/justinlynch/peep3new.mp4", :type => "video/webm"}
    .container
      .row
        .carousel-caption-center.colour-white
          %h1 
            %span.gr My 
            %span friends. 
            %span.gr Our 
            %span photos.
            %br
            %span.gr Privately. 
            %span 
          %p Peep is shaking up the way we share photos. Introducing a new way to share, store and swap photos privately or secretly between groups.
          %h3 
            %span DOWNLOAD NOW IN CANADA.
          / %p
          /   %a.btn.btn-lg.btn-primary.scroll{:href => "#about", :role => "button"} Learn More
          .download-area
            %ul.btn-group.list-inline
              %li.ios-btn
                %a{:href => "#", :id => "appstore"} Download from the App Store
              / %li.android-btn
              /   %a{:href => "#", "onClick" => "return false;", :id => "gplay", "data-toggle" => "tooltip", "title" => "peep will be available on both iOS and Android.", "data-placement" => "bottom" } Get it from Google Play
    .overlay-bg
    .introphonehome
      .container
        .row
          .col-md-12
            %h1 COMING SOON TO THE USA!
            %h2 Sign up for our launch.
        .row
          .col-md-12
            / Begin MailChimp Signup Form
            %link{:href => "//cdn-images.mailchimp.com/embedcode/slim-081711.css", :rel => "stylesheet", :type => "text/css"}
              #mc_embed_signup
                %form#mc-embedded-subscribe-form.validate{:action => "http://peepapp.us3.list-manage.com/subscribe/post?u=b97b971a977910f878ba92a94&amp;id=f781744731", :method => "post", :name => "mc-embedded-subscribe-form", :novalidate => "", :target => "_blank"}
                  %input#mce-EMAIL.email{:name => "EMAIL", :required => "", :type => "email", :value => "", :placeholder => "Enter your email"}
                    %div{:style => "position: absolute; left: -5000px;"}
                      %input{:name => "b_b97b971a977910f878ba92a94_f781744731", :type => "text", :value => ""}/
                    .clear
                      %input#mc-embedded-subscribe.button{:name => "subscribe", :type => "submit", :value => "Sign Up"}/
.phone2= image_tag('android4.png')
.phone1= image_tag('iphone3.png')
.introbottomcontainer
  .container
    .row
      .col-md-5
        %h1.flagtext COMING SOON!
        / %h2 Sign up for our launch
        .arrowhead
          .caret
      .col-md-7
        / Begin MailChimp Signup Form
        %link{:href => "//cdn-images.mailchimp.com/embedcode/slim-081711.css", :rel => "stylesheet", :type => "text/css"}
          #mc_embed_signup
            %form#mc-embedded-subscribe-form.validate{:action => "http://peepapp.us3.list-manage.com/subscribe/post?u=b97b971a977910f878ba92a94&amp;id=f781744731", :method => "post", :name => "mc-embedded-subscribe-form", :novalidate => "", :target => "_blank"}
              %input#mce-EMAIL.email{:name => "EMAIL", :required => "", :type => "email", :value => "", :placeholder => "Enter your email"}
                %div{:style => "position: absolute; left: -5000px;"}
                  %input{:name => "b_b97b971a977910f878ba92a94_f781744731", :type => "text", :value => ""}/
                .clear
                  %input#mc-embedded-subscribe.button{:name => "subscribe", :type => "submit", :value => "Sign Up"}/
          / = form_tag(newsletter_sender_path) do 
          /   %input.form-control{:name => "customer[email]", :placeholder => "Enter your email address", :required => "", :type => "email"}
          /   %button.btn.btn-primary.btn-block.btn-large{:type => "submit"} Subscribe Now
