@import "bootstraps";
@import "theme";
@import "magpop";
@import "fontawe";

$peepgreen:   hsla(92, 45.2174%, 54.9020%, 1.0000);
$transpeepgreen: hsla(92, 45.2174%, 54.9020%, 0.8);

.navbar .navbar-nav a {
  border-radius: 3px;
}
.cbp-af-header h1 a {
  background-image: image-url("logo_white.png");
  min-width: 200px;
  min-height: 56px;
}

.cbp-af-header.cbp-af-header-shrink h1 a {
  background-image: image-url("logo_green.png");
  min-width: 185px;
  min-height: 50px;
  -webkit-transition: all 0.3s ease-in-out;
     -moz-transition: all 0.3s ease-in-out;
          transition: all 0.3s ease-in-out;
}

.cbp-af-header.cbp-af-header-shrink .nav a {
	margin-top: 15px;
	line-height: 10px;
	color: black;
  &:hover {
    color: $transpeepgreen;
  }
  &:focus {
    color: $transpeepgreen;
  }
}

.cbp-af-inner .navbar .navbar-nav .current > a {
	color: #FFFFFF !important;
  &:hover {
    background: $transpeepgreen;
  }
}

.cbp-af-header.cbp-af-header-shrink .navbar .navbar-nav .current > a {
  color: #FFFFFF !important;
  background: $peepgreen;
  &:hover {
    background: $transpeepgreen;
  }
}

.navbar .nav > li > a:hover, .navbar .nav > li > a:focus {
  color: $peepgreen;
}

.cbp-af-header .nav a.signup {
  color: #ccc !important;
}

#intro .carousel-caption-center p, #intro-video .carousel-caption-center p {
  text-align: left !important;
  margin: 0px 20em 0px 0px;
}

#intro .carousel-caption-center h1, #intro-video .carousel-caption-center h1 {
  text-align: left !important;
  text-transform: uppercase;
  letter-spacing: -0.015em;
  font-size: 2.7em;
}

span.gr {
  color: $peepgreen;
}

#intro .carousel-caption-center, #intro-video .carousel-caption-center {
  margin: auto 20px;
}
$darkerpeep: hsla(97, 46.4286%, 43.9216%, 1.0000);

#intro .carousel-caption-center .btn:hover, #intro-video .carousel-caption-center .btn:hover {
  background: $darkerpeep;
}

.login-part button[type='submit']:hover {
  background: $darkerpeep;
}

.introbottomcontainer {
  height: 200px;
  margin-top: -200px;
  position: absolute;
  left: 0px;
  width: 100%;
  background: #89c058;
  z-index: 58;
  overflow: visible;
  h1 {
    font-weight: 800;
    line-height: 1.1;
    color: #fff;
    letter-spacing: -0.015em;
    padding-top: 30px;
  }
}