@import "bootstraps";
@import "theme";
@import "magpop";
@import "fontawe";

$peepgreen:   hsla(92, 45.2174%, 54.9020%, 1.0000);
$transpeepgreen: hsla(92, 45.2174%, 54.9020%, 0.8);

.navbar .navbar-nav a {
  border-radius: 3px;
}
.cbp-af-header h1 a {
  background-image: image-url("logo_white.png");
  min-width: 200px;
  min-height: 56px;
}

.cbp-af-header.cbp-af-header-shrink h1 a {
  background-image: image-url("logo_green.png");
  min-width: 185px;
  min-height: 50px;
  -webkit-transition: all 0.3s ease-in-out;
     -moz-transition: all 0.3s ease-in-out;
          transition: all 0.3s ease-in-out;
}

.cbp-af-header.cbp-af-header-shrink .nav a {
	margin-top: 15px;
	line-height: 10px;
	color: black;
  &:hover {
    color: $transpeepgreen;
  }
  &:focus {
    color: $transpeepgreen;
  }
}

.cbp-af-inner .navbar .navbar-nav .current > a {
	color: #FFFFFF !important;
  &:hover {
    background: $transpeepgreen;
  }
}

.cbp-af-header.cbp-af-header-shrink .navbar .navbar-nav .current > a {
  color: #FFFFFF !important;
  background: $peepgreen;
  &:hover {
    background: $transpeepgreen;
  }
}

.navbar .nav > li > a:hover, .navbar .nav > li > a:focus {
  color: $peepgreen;
}

.cbp-af-header .nav a.signup, .cbp-af-header .nav a.login {
  color: #ccc !important;
  pointer-events: none;
  display: none;
}

#intro .carousel-caption-center p, #intro-video .carousel-caption-center p {
  text-align: left !important;
  margin: 0px 20em 0px 0px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 200;
  font-size: 1.3em;
  line-height: 1.4;
}

#intro .carousel-caption-center h1, #intro-video .carousel-caption-center h1 {
  text-align: left !important;
  text-transform: uppercase;
  letter-spacing: -0.015em;
  font-size: 2.7em;
}

span.gr {
  color: $peepgreen;
}

#intro .carousel-caption-center, #intro-video .carousel-caption-center {
  margin: auto 20px;
}
$darkerpeep: hsla(97, 46.4286%, 43.9216%, 1.0000);

#intro .carousel-caption-center .btn:hover, #intro-video .carousel-caption-center .btn:hover {
  background: $darkerpeep;
}

.login-part button[type='submit']:hover {
  background: $darkerpeep;
}

.introbottomcontainer {
  height: 200px;
  position: absolute;
  left: 0px;
  width: 100%;
  background: #89c058;
  z-index: 58;
  overflow: visible;
  bottom: -4px;
  h1 {
    font-weight: 800;
    line-height: 1.1;
    color: #fff;
    letter-spacing: -0.015em;
    padding-top: 40px;
    font-size: 40px;
  }
  h2 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 200;
    color: #fff;
    margin-top: -10px;
    font-size: 1.85em;
  }
  input {
    width: 100%;
    margin-top: 70px;
    background: white;
    border: none;
    outline: none;
    padding: 15px;
    font-size: 1.2em;
    color: #4c4c4c;
    border: 2px solid white;
    border-radius: 4px;
  }
  button[type='submit'] {
    padding: 17px;
    margin-top: 70px;
    font-size: 1.2em;
  }
}

.btn-lg, .btn-group-lg > .btn {
  border-radius: 4px;
}

.item.background-cover { 
  background: image-url("slide-2.jpg") no-repeat;
  background-size: cover;
}

.phone1 {
  position: absolute;
  left: 66%;
  bottom: -350px;
  -webkit-transition: all 1.3s ease-in-out;
     -moz-transition: all 1.3s ease-in-out;
          transition: all 1.3s ease-in-out;
}

.phone2 {
  position: absolute;
  left: 54%;
  bottom: -345px;
  -webkit-transition: all 1.3s ease-in-out;
     -moz-transition: all 1.3s ease-in-out;
          transition: all 1.3s ease-in-out;
}

.slideUp{
  bottom: 200px;    
}

#intro .carousel-caption-center, #intro-video .carousel-caption-center {
  margin: 23% 20px;
}

video#bgvid {
  position: fixed; right: 0; bottom: 0;
  min-width: 100%; min-height: 100%;
  width: auto; height: auto; z-index: -100;
  background: image-url("bg-featuredapp1.jpg") no-repeat;
  background-size: cover;
}

#pricing .plan .plan-cta .plan-buy .btn:hover {
  background: #68a49f;
}

.arrowhead {
  position: absolute;
  height: 66px;
  width: 30px;
  border-right: 7px solid #fff;
  right: 50px;
  top: 66px;
}

.caret {
  position: absolute;
  display: inline-block;
  width: 0;
  height: 0;
  margin-left: 2px;
  top: 19px;
  right: -25px;
  vertical-align: middle;
  border-left: 16px solid #FFF;
  border-top: 13px solid transparent;
  border-bottom: 13px solid transparent;
}

.download-area {
  display: inline-block;
  float: left;
  margin-top: 45px;
}

.btn-group {
margin-left: 40px;
}

.btn-group, .btn-group-vertical {
position: relative;
display: inline-block;
vertical-align: middle;
}
.list-inline {
padding-left: 0;
list-style: none;
margin-left: -5px;
}
ul, ol {
margin-top: 0;
margin-bottom: 10px;
}

.btn-group li {
padding: 0;
margin-bottom: 15px;
}

.list-inline>li {
display: inline-block;
padding-left: 5px;
padding-right: 5px;
}

.btn-group li a {
background-color: #060606;
background-repeat: no-repeat;
background-position: left top;
-webkit-border-radius: 6px;
-moz-border-radius: 6px;
-ms-border-radius: 6px;
-o-border-radius: 6px;
border-radius: 6px;
-moz-background-clip: padding;
-webkit-background-clip: padding-box;
background-clip: padding-box;
display: block;
width: 200px;
height: 60px;
text-indent: -9999px;
margin-right: 20px;
opacity: 0.95;
-webkit-transition: all 0.3s ease-in-out;
-moz-transition: all 0.3s ease-in-out;
-ms-transition: all 0.3s ease-in-out;
-o-transition: all 0.3s ease-in-out;
border: 1px solid #FFF;
&:hover {
  opacity: 1.0;
}
}

.btn-group li.ios-btn a {
  background-image: image-url("appstore.png");
}

.btn-group li.android-btn a {
  background-image: image-url("googleplay.png");
}

.navbar .navbar-nav a {
border-radius: 3px;
display: none;
}

body {
  max-height: 100%;
  overflow: hidden;
}


.introbottomcontainer h1 {
  padding-top: 20px;
}

.arrowhead {
  top: 46px;
}

.introbottomcontainer input {
  margin-top: 50px;
}

.introbottomcontainer button[type='submit'] {
  margin-top: 50px;
}

.introbottomcontainer {
  height: 160px;
}

.popover-content {
  padding: 20px 20px;
  color: #000;
  font-size: 1.2em;
}



